*{
    margin: 0;
    padding: 0;
}

main{
    width: 98.5vw;
    height: auto;
}

/* header, nav and footer */
header, footer{
    height: 70px;
    width: 98.5vw;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#projects-header{
    background-color: #010101;
}

footer{
    background-color: #ACACAC;
}

nav ul{
    width: 93.5vw;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}

nav ul li a{
    text-decoration: none;
    border-radius: 20px;
    color: #ACACAC;
    padding: 10px 16px;
    display: block;
}


footer nav ul li a, .nav-black{
    color: #FBFBFB;
}

.nav-black:hover{
    background-color: #ACACAC;
    color: #010101;
}


footer nav ul li a:hover{
    color: #ACACAC;
    background-color: #FBFBFB;
}

nav ul li a:hover{
    background-color: #ACACAC;
    color: #fbfbfb;
}

.about-li{
    list-style-type: none;
}

.about-li:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

/* handig veel gebruikt */
.flex-c{
    display: flex;
    flex-direction: column;
}
.flex-r{
    display: flex;
}

.font-serif{
    font-family: "Instrument Serif", serif;
}

h1{
    font-size: 140px;
    font-weight: 400;
    /* veranderen naar 80px  */
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.border-radius{
    border-radius: 20px;
}

.bg-b{
    background-color: #010101;
}
.bg-w{
    background-color: #FBFBFB;
}
.bg-g{
    background-color: #ACACAC;
}
.bg-p{
    background-color: #DD7CA0;
}
.bg-y{
    background-color: #FACF0F;
}

.t-w{
    color: #FBFBFB;
}

.t-b{
    color: #010101;
}

.t-g{
    color: #ACACAC;
}

.padding-bottom{
    padding-bottom: 100px;
}

.margin-bottom{
    margin-bottom: 80px;
}

/* text */
.projects-title h1{
    font-size: 70px;
    display: flex;
    padding-top: 80px;    
}


.cw-a{
    text-decoration: none;
}

.cw-a:hover{
    border-radius: 20px;
    transform: scale(1.5);
    transition: all 0.5s;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #010101;
}

.contact-title{
    font-size: 80px;
    margin-top: 80px;
}

.contact-right{
    /* align-self: center; */
    padding-left: 1.5vw;
    margin-bottom: 20px;
}

.contact-p{
    margin-left: 2vw;
    font-weight: 600;
}

#about-left h1{
    font-size: 80px;
}

.avatar-subtext{
    margin: 5px;
    font-weight: 600;}

.cw-text{
    font-weight: 600;
}

.ul-left{
    margin-left: 1vw;    
}

.ul-right{
    margin-left: 5vw;
}
.project-link, .download-link{
    text-decoration: none;
}

.project-link:hover{
    transform: scale(1.6);
    transition: all 0.5s;
}

.download-link:hover{
    background-color: #FACF0F;
}

.about-text{
    font-size: medium;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.box-text1{
    margin-right: 10px;
}

.box-text2{
    margin-left: 15px;
}

/* images */
.img-logo{
    width: 5vw;
}

#img-home-bg{
    width: 98.5vw;
}

#arrow-icon{
    fill: #fbfbfb;
    transform: rotate(90deg);
    width: 1vw;
}

.contact-icons{
    width: 4vw;
    height: 40px;
    align-self: flex-end;
    /* margin: 20px; */
    padding: 15%;

}

.contact-icons:hover{
    background-color: #010101;
    transform: scale(1.1);
  transition: all 0.5s;
  
}
.contact-img{
    width: 10vw;
    height: 120px;
}

#avatar-img{
    width: 15vw;
}

#location-icon{
    width: 1.5vw;
    margin-right: 10px;
}

.medium-icon{
    width: 1vw;
}

.smallest-icon{
    width: 0.5vw;
}


/* .project-img{
    width: 22vw;
    height: 120px;
} */


/* pages */
.projects{
    background: rgb(221,124,160);
background: radial-gradient(ellipse, rgba(221,124,160,1) 0%, rgba(1,1,1,1) 50%);
height: auto;
margin-bottom: -38px;
justify-items: center;
padding-bottom: 100px;
}

#home{
    background-image: url("../img/background.png");
    background-size: 100% 100%;
    height: 560px;
}

.contact-page{
    height: 560px;
}

.contact{
    height: 106.8%;
    justify-content: center;
}

.c-left{
    width: 40vw;
}

.c-right{
    width: 58.5vw;
    background-image: url("../img/contact-bg-final.png");
    background-size: 100% 100%;
    justify-content: flex-start;
    padding-left: 5vw;
}

.about-me-top{
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.about-me-body{
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    /* width: 50vw; */

}

.about-me-column{
    gap: 10px;
    align-items: center;
}

/* textfields */
.home-page{
    width: 35vw;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 20%;
}

/* divs for objects, layout or remaining fields */
#footer-div{
    width: 10vw;
    height: 38px;
    border-radius: 50px 50px 0px 0px;
    margin-left: 44.25vw;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    position: sticky;
}

.projects-div{
    width: 40vw;
    padding-top: 45px;
    padding-bottom: 45px;
}

#test1, #test2, #test3, #test4, .cw1, .cw2 {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px #010101;
    justify-content: center;
    background-size: 100%;
}

#test1{
    align-self: flex-start;
    width: 22vw;
    height: 120px;
    align-items: flex-end;
    /* background-image: url("/img/mastermind2-img.jpg"); */
}

.cw1, .cw2{
    background-size: 100%;
    width: 16vw;
    height: 205px;
}

.cw1{
    align-self: flex-start;
    align-items: flex-end;
}

.cw2{
    align-self: flex-end;
    align-items: flex-start;
}

.cw1:hover, .cw2:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.cw1{
    background-image: url("/img/cw1.png");
}

#test2{
    align-self: flex-end;
    width: 18vw;
    height: 170px;
    align-items: flex-start;
}

.cw2{
    background-image: url("/img/cw2.png");
}

#test3{
    align-self: flex-start;
    width: 18vw;
    height: 130px;
    align-items: flex-end;
}

#cw3{
    background-image: url("/img/cw3.png");
}

#test4 {
    align-self: flex-end;
    width: 27vw;
    height: 160px;
    align-items: flex-start;
}

#cw4{
    background-image: url("/img/cw4.png");
}

.contact-layout{
    align-items: center;
}

#about-right{
    width: 20vw;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    justify-content: center;
}

#about-left{
    width: 30vw;
    align-items: center;
    border-style: solid;
    border-width: 5px;
}

#location-div{
    margin-top: 20px;
}

.about-div{
    /* width: 20vw; */
    padding: 10px;
    padding-left: 25px;
    border-style: solid;
    border-width: 5px;
}

.education, .curriculum-vitae{
    border-color: #FACF0F;
}
.hobbies, .experience, .languages{
border-color: #DD7CA0;
}

.education, .experience, .curriculum-vitae{
    width: 27vw;
}

.languages, .hobbies{
    width: 17vw;
}

